<footer>
    <div class="card-footer bg-dark text-muted row d-flex align-items-center">
        <div class="col-md-7 col-lg-7 text-right">copyright 2019</div>
        <div class="col-lg-5 text-right">
            <a href="facebook.com"><img src="Social-Media-02.png" width="20" height="20"></a>
            <a href="twitter.com"><img src="Social-Media-03.png" width="20" height="20"></a>
            <a href="youtube.com"><img src="Social-Media-04.png" width="20" height="20"></a>
            <a href="instagram.com"><img src="Social-Media-05.png" width="20" height="20"></a>
    </div>
</footer>