<header>
    <nav class="navbar navbar-expand-lg bg-secondary container-border">
        <a class="navbar-brand">
            <a href="/.."><img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e9/UI_Logo.svg/1200px-UI_Logo.svg.png" width="50" height="50" onclick=""></a>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact me</a>
                </li>
            </ul>
        </div>
    </nav>
</header>