{% extends "base.html" %}
{% block title %}Homescreen{% endblock %}
{% block content %}
<div class="container container-border">
    <div class="container-content block">
        <div class="row">
            <div class="col-sm1">
                <img class="pull-left float-middle" src="img.jpg" width="250" height="250">
            </div>
            <div class="col">
                <h4>Hello, my name is</h4>
                <h1>Randy Hidayah Putra Desnantara</h1>
                <br>
                <h2>I am a humble UI/UX designer, and college
                    student in Computer Science University of 
                    Indonesia.<br><br>
                    I'm 18 Years old, my hobby is hiking and 
                    swimming. Last year, me and my family went
                    to Mount Kerinci in Sumatra.
                </h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}