body{
    padding: 2% 0% 0% 0%;
}

.container-border{
    padding: 1% 0% 1% 0%;
    border-style: solid;
}

.container-content{
    height: 100%;
    padding: 5% 5% 0% 5%;
}

.container-all{
    background-color: ghostwhite;
}

.picture-float{
    vertical-align: middle;
}